*.out
*.lot
*.aux
*.glo
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.brf
*.lof
*.log
*.ist
sige-apresentacao.acn
sige-apresentacao.fls
sige-apresentacao.gls
sige-apresentacao.glg
sige-apresentacao.fdb_latexmk
sige-apresentacao.dvi
sige-apresentacao.alg
sige-apresentacao.acr
sige-apresentacao.synctex(busy)
